/ci/infection/
/ci/phpunit/
/ci/psalm/
/ci/phpunit.xml
/src/Easy/**/*.*
/src/Expert/**/*.*
/src/Hard/**/*.*
/src/Medium/**/*.*
/tests/Easy/
/tests/Expert/
/tests/Hard/
/tests/Medium/
/tools/
/var/cache/
/vendor/
/.ashrc
/.env
/compose.override.yaml
